:root{
  --accent: #707654;
  --light-accent: #989f76;
}

* {
    box-sizing: border-box;
}

body {
  background-color: var(--light-accent);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Arial;
    color: var(--accent);
}

a:hover {
    border-bottom: 3px solid var(--accent);
}

.header{
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    height: 75px;
    display: flex;
    align-items: center;
}

#app {
    flex: auto;
}

.header .header__logo{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.logoText{
  margin-left: 10px;
  font-size: 2.3em;
}

.header .header__logo img{
    max-width: 100%;
    height: auto;
}

.header .header__menu{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;

    margin: 0 10px;

}

.header .header__menu ul{
    color: #333;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header .header__menu ul li{
    display: inline-block;
    margin: 0 10px;
}

footer {
    height: min-content;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left, .mid, .right {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
}

.popup {
    position: absolute;
    width: 25%;
    left: 37.5%;
    height: auto;
    top: auto;
    border-radius: 8px;
    background-color: #e5e5e5df;
    align-items:center;
    text-align: center;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup label {
    position: absolute;
    left: 10%;
}

input {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

select {
    width: 80%;
    height: 30px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 5px;
}

.pointer {
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
}

.pointer:hover {
  background-color: var(--light-accent);
    transform: scale(1.05);
}

#currentDiscussion {
    position: fixed;
    top: 85px;
    left:15px;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    width: 20%;
    font-family:Helvetica;
    letter-spacing: 1px;
    border-bottom-right-radius: 80px;
    padding: 10px 10px 5px 10px;
}
.convHolder {
    position: absolute;
    width: 70%;
    height:70%;
    left: 1%;
    top: auto;
    border-radius: 8px;
    background-color: #fafafadf;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}
#sender {
    position: fixed;
    left: 5%;
    height: 35px;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    width: 48vw;
}
#sender_button {
    position: fixed;
    left: 55%;
    width: 10vw;
    border: none;
    background-color: var(--accent);
    height: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px
}

#sender_button:hover {
    background: var(--light-accent);
}

.conv {
  padding-bottom: 40px; 
  margin: 20px;
    display: flex;
    flex-direction: column;
}

.recentconv {
    position: absolute;
    width: 20%;
    height:70%;
    left: 75%;
    top: auto;
    border-radius: 8px;
    background-color: #fafafadf;
    margin: 10px;
}

#recent {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    top: 0%;
    left: 0%;
    background-color: var(--accent);
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.pp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    margin: 10px;
}

.profile {
    background-color:#fafafadf;
    border: none;
    border-radius: 8px;
    width: 25%;
    /* height: 25%; */
    margin: 25px;
    display: flex;
}

#user {
    position: absolute;
    right: 20px;
    font-weight: bold;
    cursor: pointer;
    color: var(--accent);
    font-size: 1.7em;
    text-transform: uppercase;
}

.cr {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 10px;
}

.cr p {
    padding-left: 5px;
    padding-bottom: 5px;
    width: 90%;
    margin: 0;
    cursor: pointer;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.online {
    background-color: green;
}

.received {
  margin-top: -10px;
    background-color: lightgrey;
    border-radius: 10px 10px 10px 0;
    left: 0%;
    padding: 10px;
    width: fit-content;
    margin-right: 70%;
}

.sent {
    background-color: var(--accent);
    color: white;
    border-radius: 10px 10px 0 10px;
    right: 0%;
    padding: 10px;
    text-align: right;
    width: auto;
    margin-left: 70%;
    display: flex;
    align-self: flex-end;
}

.sentDate {
    right: 0%;
    text-align: right;
    width: auto;
    margin: 0;
    margin-left: 70%;
    display: flex;
    align-self: flex-end;
}

#postcreator {
    background-color: #e5e5e5;
    border-radius: 8px;
    width: 50vw;
    padding: 10px;
    margin: 10px;
    opacity: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post_button {
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    width: 100px;
    padding: 5px;
}

.post_container {
    background-color: #e5e5e5df;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 60vw;
    border: 4px solid var(--accent);
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    flex-direction: column;
}

.post_username {
    position:absolute;
    left: 1%;
    top: 0%;
}

.post_date {
    position:absolute;
    left: 10%;
    top: 0%;
}

.post_title {
    padding-top: 10px;
    border-bottom: 1px solid black;
    width: 60%;
}

.post_categories {
    position:absolute;
    right: 1%;
    top: 0%;
    background-color: var(--accent);
    color: white;
    border-radius: 8px;
    padding: 10px;
}

.post_comment {
    padding-top: 20px;
    border-top: 1px solid black;
    width: 60%;
    padding: 10px;
}

.response {
    background-color: transparent;
    padding: 20px;
    border:solid gray 1px;
    width: 50%;
    height: 15px;
    border-radius: 0px;
}

.resp_button {
    color: white;
    width: 15%;
    background-color: gray;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
}

#postList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_element{
    text-align: center;
}

#post_content{

    width: 39vw;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#postSearch{
    width: 40vw;
    flex-direction: column;
    align-items: center;
}
#filter_button{
    width: 100px;
    height: 30px;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
}
#search_button{
    width: 100px;
    height: max-content;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    border: 3px solid black;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
}
.typing-demo {
    width: 30ch;
    animation: typing 1.5s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
  }

#form-send-message{
  background: #fafafadf;
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 50px;
  justify-content: center;
}

  @keyframes typing {
    from {
      width: 0
    }
  }
